@model Insurer
@{
    ViewBag.Title = "ERP System | Grinweiv Alliance";
    ViewBag.BodyClass = "INSURERS NEW";
}
<div class="commonPage">
    <h1>@(Model?.Id > 0 ? "Edit" : "Create New") Insurer</h1>
    @using (Html.BeginForm((Model?.Id > 0 ? "Edit" : "Add"), "Insurers", FormMethod.Post, new { id = "Insurers_Form" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        <div class="detailPage">
            <div class="container">
                <div class="formFields">
                    <div class="formCol4">
                        <span class="fieldName"><strong>Insurer Name *</strong></span>
                        <span class="field">
                            @Html.TextBoxFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name)
                        </span>
                    </div>
                    <div class="formCol4">
                        <span class="fieldName"><strong>Internal Code *</strong></span>
                        <span class="field">
                            @Html.TextBoxFor(m => m.InternalCode)
                            @Html.ValidationMessageFor(m => m.InternalCode)
                        </span>
                    </div>
                    <div class="formCol4">
                        <span class="fieldName"><strong>Description *</strong></span>
                        <span class="field">
                            @Html.TextBoxFor(m => m.Desc)
                            @Html.ValidationMessageFor(m => m.Desc)
                        </span>
                    </div>
                    <div class="formCol4">
                        <span class="fieldName"><strong>Status *</strong></span>
                        <span class="field">
                            <select name="IsActive" id="IsActive">
                                <option disabled selected>Select status</option>
                                <option value="true" @(Model?.IsActive == true ? "selected" : null)>Active</option>
                                <option value="false" @(Model?.IsActive == false ? "selected" : null)>Inactive</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.IsActive)
                        </span>
                    </div>
                    <div class="clear"></div>
                    <div class="formCol2">
                        <span class="fieldName"><strong>Remarks</strong></span>
                        <span class="field">
                            @Html.TextAreaFor(m => m.Remarks)
                            @Html.ValidationMessageFor(m => m.Remarks)
                        </span>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
        //if (AccessHelper.IsManageInsurersAccessible(UserAccessType.View))
        //{
        <input type="button" class="backBtn" value="Cancel" onclick="location.href = '@ViewHelper.ApplicationPath/Insurers';">
        @*}
            if (AccessHelper.IsManageInsurersAccessible(UserAccessType.Edit) || AccessHelper.IsManageInsurersAccessible(UserAccessType.Add))

            {*@
        <input type="submit" class="submitBtn edit" value="Save" />
        @*}*@
    }
</div>

@section scripts{
    <script src="~/Content/Scripts/Page/insurers-add.js"></script>
}
